body {
    background: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slide {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
}
