<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Photo Frame - Albums</title>

        {{#rumEnabled}}
        <script>
            (function(h,o,u,n,d) {
                h=h[d]=h[d]||{q:[],onReady:function(c){h.q.push(c)}}
                d=o.createElement(u);d.async=1;d.src=n
                n=o.getElementsByTagName(u)[0];n.parentNode.insertBefore(d,n)
            })(window,document,'script','https://www.datadoghq-browser-agent.com/datadog-rum.js','DD_RUM')
            DD_RUM.onReady(function() {
                DD_RUM.init({
                    clientToken: '{{clientToken}}',
                    applicationId: '{{applicationId}}',
                    site: 'datadoghq.com',
                    service: 'photo frame',
                    env: 'production',
                    version: '1.0.0',
                    sampleRate: 100,
                    trackInteractions: true,
                })
            })
        </script>
        {{/rumEnabled}}
    </head>

    <body>
        <ul>
            {{#albumPaths}}
            <li><a href="/?a={{.}}{{#keyEnabled}}&k={{key}}{{/keyEnabled}}">{{.}}</a></li>
            {{/albumPaths}}
        </ul>
    </body>
</html>
