<!DOCTYPE HTML>

<html lang="en">
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>

  {{#rumEnabled}}
  <script>
      (function(h,o,u,n,d) {
          h=h[d]=h[d]||{q:[],onReady:function(c){h.q.push(c)}}
          d=o.createElement(u);d.async=1;d.src=n
          n=o.getElementsByTagName(u)[0];n.parentNode.insertBefore(d,n)
      })(window,document,'script','https://www.datadoghq-browser-agent.com/datadog-rum.js','DD_RUM')
      DD_RUM.onReady(function() {
          DD_RUM.init({
              clientToken: '{{clientToken}}',
              applicationId: '{{applicationId}}',
              site: 'datadoghq.com',
              service: 'photo frame',
              env: 'production',
              version: '1.0.0',
              sampleRate: 100,
              trackInteractions: true,
          })
      })
  </script>
  {{/rumEnabled}}

  <title>Photo Frame</title>
</head>

<body>
    <div class="frame">
        {{#names}}
        <div><img class="slide" data-lazy="{{name}}{{#keyEnabled}}?k={{key}}{{/keyEnabled}}"></div>
        {{/names}}
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>
